.w-100 {
    width: 100%;
  }
  
  .post {
    width: 100%;
    max-width: 550px;
    border: 1px solid #3a3a3a;
    border-radius: 24px;
    margin-bottom: 2rem;
    padding: 1.5rem;
  }
  
  .post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post_headerAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
  }
  
  .post_headerAuthor > span {
    /* color: grey; */
    font-size: 15px;
    flex: 1;

    &.text-align-right{
      text-align: right;
    }
    

  }

  .post_image img {
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
    margin-top: 10px;
  }
  
  .post_footerIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .postIcon {
    padding: 7px;
    font-size: 30px;
  }
  
  .postIcon:hover {
    cursor: pointer;
  }
  
  .post_headerAuthor .username {
    margin-right: 10px;
  }
  
  .post_content {
    margin-top: 10px;
  }

  .caption{
    gap: 8px;
  }
  
  .comment{
    justify-content: space-between;
    flex-direction: column;
  }
  .comment p{
    text-align: left;
  }
  .comment p:last-child{
    margin: 0 !important;

  }
  .comment img{
    position: relative;
    top: 2px;
    right: 0;
    float: right;
    cursor: pointer;
  }
  .post-btn{
    gap: 10px;
  }