.user-card {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  .user-card img {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
  }
  .user-card .follow-btn {
    background-color: #6f42c1;
    border: none;
    color: #fff;
  }

  .user-loading{
    text-align: center;
    padding: 0;
    margin: 0;
    height: 75vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8%;
  }