.timeline {
    display: flex;
    flex-direction: row;
    gap: 1px;
  }

  .timeline.user-profile {
    justify-content: flex-start;
  }

  .profile-content{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .profile-content small{
    font-size: 16px;
  }

  .timeline_left {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 10px;
  }

.profile-inner{
  flex: 1;
  justify-content: space-between;

}  

.edit-btn{
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: inherit;
  justify-content: flex-end;
}

.edit-btn button{
  /* background: #FF5733; */
  border-radius: 8px;
  outline: none !important;
  box-shadow: none !important;
  padding: 5px 10px 8px;
  text-align: left;
}

.edit-btn img{
  width: 36px;
  filter: brightness(0) invert(1);
  vertical-align: bottom;
}
ul.pagination{
  margin-left: 25%;
  margin-bottom: 2rem;
}

.user-loading.h-50{
  height: 50vh !important;
}

.delet-user-list img{
  display: block;
  float: right;
}

.modal-body.p-0 .list-group-flush>.list-group-item:last-child:before{
  border: 0 !important;
}
