.timeline {
    display: flex;
    flex-direction: row;
    gap: 1px;


  }

  .timeline_left {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 10px;
  }

.profile-inner{
  flex: 1;
  justify-content: space-between;

}  

.edit-btn button{
  background: transparent;
  border-radius: 0;
  outline: none !important;
  box-shadow: none !important;
}

.edit-btn img{
  width: 36px
}
ul.pagination{
  margin-left: 25%;
  margin-bottom: 2rem;
}